* {
    box-sizing: border-box;
 } 


.row {
    font-size: 3em;
    color: rgb(228, 181, 53); 

}

.circle {
    background-color: rgba(160, 153, 153, 0.3);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}

#scils {
    font-size: 4.2em;
	text-transform: uppercase;
	margin: 0;
    color: rgba(160, 153, 153, 1);;
    text-align: center;
    padding: 1em;
    text-decoration: underline;
}


